
extends ./base.pug

block content 
  h3 Data from #{deviceId}
    
  each measurement in measurements
    .media
      pre
        span Date: #{measurement.date}
        span Temperature: #{measurement.Temp}°C
        span Humidity: #{measurement.Hum}% 
        span PM2.5: #{measurement.pm2p5} mug/m^3 
        span PM10: #{measurement.pm10} mug/m^3 

  if !measurements.length
    p No measurements found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?&pageToken=${encodeURIComponent(nextPageToken)}`) More
